body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    background-color: #be3144;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items: center;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#welcome-section {
    background-color: #3a3d40;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-style: italic;
    color: #be3144;
}

#projects {
    background-color: #45567d;;
}

#descriptor {
    text-decoration: underline;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
}





